In [29]:
import pandas as pd 
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

In [30]:
 dataset = pd.read_csv('D:/BML Sample Dataset/NFLX.csv')
 dataset

,Date,Open,High,Low,Close,Adj Close,Volume
0,05-01-1900,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,06-02-2018,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,07-02-2018,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,08-02-2018,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,09-02-2018,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,31-01-2022,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,01-02-2022,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,02-02-2022,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,03-02-2022,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,04-02-2022,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [31]:
X = dataset.iloc[:, :-1].values
X

array([['05-01-1900', 262.0, 267.899994, 250.029999, 254.259995,
        254.259995],
       ['06-02-2018', 247.699997, 266.700012, 245.0, 265.720001,
        265.720001],
       ['07-02-2018', 266.579987, 272.450012, 264.329987, 264.559998,
        264.559998],
       ...,
       ['02-02-2022', 448.25, 451.980011, 426.480011, 429.480011,
        429.480011],
       ['03-02-2022', 421.440002, 429.26001, 404.279999, 405.600006,
        405.600006],
       ['04-02-2022', 407.309998, 412.769989, 396.640015, 410.170013,
        410.170013]], dtype=object)

In [32]:
Y = dataset.iloc[:, -1].values 
Y

array([11896100, 12595800,  8981500, ..., 14346000,  9905200,  7782400],
      dtype=int64)

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [34]:
X_test

array([['13-04-2021', 557.0, 559.75, 550.299988, 553.72998, 553.72998],
       ['02-05-2019', 378.0, 383.5, 374.51001, 379.059998, 379.059998],
       ['07-06-2018', 368.540009, 368.700012, 357.799988, 361.399994,
        361.399994],
       ...,
       ['12-02-2018', 252.139999, 259.149994, 249.0, 257.950012,
        257.950012],
       ['20-11-2019', 301.01001, 308.25, 301.0, 305.160004, 305.160004],
       ['04-02-2022', 407.309998, 412.769989, 396.640015, 410.170013,
        410.170013]], dtype=object)

In [35]:
Y_train

array([ 2841500,  1144000,  4394900,  5752200, 10559900,  6717700,
        5918000,  3888600,  7569300, 58904300,  4992600,  6997900,
        2759000,  5487300,  2582000, 21746300,  2894000, 19145500,
        3769400,  5821400, 11692900,  6768100,  4756400, 12914000,
        3806200,  3761300,  6255500,  7550800,  6186800, 23832800,
        3690200,  5691700,  7604400, 13345300,  5132500, 10013900,
       26621000,  4121500,  7864500,  8209500,  5685500,  4927900,
       11023900,  3725900, 14907300, 11802100,  3743700, 12993800,
        4136500, 15145800,  6905800,  4388800,  8981500,  3806900,
        5036100,  3821700,  4198500,  2420300, 13405800,  2077400,
        5032100,  2350500, 14729100,  4177400,  3002700,  3948000,
        5765300,  4386400, 14350300,  6848100,  5099600, 11221100,
       13799700,  7863100,  2411700,  6029300,  9061100,  8951000,
       17183100,  3727200,  5023400,  4703200,  2751600,  3042200,
       12694900,  1780700,  4777100, 10414000, 21397600,  4417500,
       12800600,  4325300,  2376300,  2820200,  5798600,  6608600,
        3774300,  9693100,  7769000,  8629600,  4089800,  5663100,
        7405900,  7046400,  9295300, 10066700,  8461300, 10089800,
        3783700,  2887500,  7633100,  3713300, 18525800,  2250900,
        5289400,  4021800,  7666500,  4935700, 33866500, 16717200,
        3703500,  9572700, 11505200,  3905500, 14758600, 20307900,
       12684000,  7088200,  4091900,  2254700,  6066500,  7849600,
        4735700,  4288700,  9158700,  5928500,  7131300,  5035200,
       11643800,  8786100,  2529400,  1287200,  8467800,  8891500,
       11876800,  7810300,  7970900, 10249400, 19500400,  4762200,
       17941400,  5566200,  6036000,  2220300,  2314600,  6437000,
        6229400,  3062900,  4926800,  4138600, 17939700, 11932100,
       23685700,  6347400,  5396700, 14801300,  4747800,  5899500,
        5793100, 13480100, 14346000, 12375500, 20360300,  2755600,
       11784500, 18054100,  3686400,  2764400,  8026700,  9717900,
        5626200,  7448400,  9967100,  3820500,  6525600,  4580400,
        5572700,  5131600, 17132200,  9071100, 32346000,  9458200,
        9051400, 11131600,  4199000, 12068600,  7112300, 11930600,
        7891600,  4400200,  9158900,  5391100, 12743300,  5886900,
        5905900,  4102200,  7229600,  6824800, 10967700, 10476100,
        5422300,  1673900,  6324900,  5254900,  7849400,  5513200,
       13074300,  8755000,  8376600, 15385500, 15121500,  3921300,
        5916300,  5667200,  8183900,  5321000,  8270100,  3887400,
        7071900,  7722000,  5607300,  3991300,  8848400,  5302300,
        2197100, 13343200, 14402700,  5526500,  6799800,  7488400,
        4079400,  7567500, 18461000,  3698100,  6727200, 12219900,
        4114400,  4773500, 14969600,  5020100,  4691200, 24324700,
        4236300,  4385200,  3227300, 13788400,  4695700,  4090800,
       16175900,  3870100,  3484300,  2602000,  9416500,  7709500,
        8652100,  6481200,  6855200,  9113700,  3530900,  4652500,
        3245000,  2777200,  6221000,  8448900, 11980500, 12616300,
        4659500, 11860100,  8353200,  8438800, 14598300,  3799000,
        2904800,  4992800, 11340100,  6563200,  2039400,  5594300,
        9634700,  5895800,  4192700,  2791900,  8747000,  7711300,
        5992700, 11149500,  9499000,  6821600,  3193000, 10283000,
        7944700,  8153700,  6280300,  2943500, 21698800,  2973900,
        6583100, 13480800,  5049300, 12320200,  5669900,  5457500,
        4062400,  5805200, 16082100, 38258900,  7014600,  3358400,
        3474200,  5910300, 10428600,  4277600,  5328100,  5964400,
       18222800,  5713900, 11896100,  6309400,  3589900,  4382900,
       11168600,  9382900,  2826100,  2526200,  9547600,  3831000,
        8142500,  3078600,  2019300,  9605600, 10407900,  7655200,
        1621100,  4502700,  6611800, 18399000, 16302500,  3132800,
       10475100,  4941400,  7659100,  5486000,  7799100,  9306700,
        6689700,  3732200,  1960500,  3882800,  3124000,  2319400,
        4309800, 12235200,  3349900, 10798500,  6186100,  4584700,
        9890400,  2269000,  2872500,  5970100,  7117800,  2456200,
        6636900, 21181200, 58410400,  2891900, 12593600,  9117300,
        8198100,  9230000,  7207300,  2012900, 14783200, 10972000,
        7161500,  3160500,  5416600,  1975500,  7811100,  1867300,
        3625000,  8366100,  6660700,  6672500,  5428500,  2065600,
        5439200,  2465300,  9266700,  8232700,  9007500,  9914900,
        3879700,  7359100,  5386500,  3920400, 20373700,  6240200,
        2859400, 18740200,  5113100,  6071200,  4598200,  7326200,
        4777300,  6036600,  3721200,  3110900,  5016000,  3938600,
        6333800,  3598600,  9345600,  8299900,  3894000,  2434800,
       10350100, 17405700,  5410500,  8544000,  5750400,  4408200,
       16906900,  5127800,  4457800,  2817400, 11120700,  2176300,
        8934100,  7244000,  2944100,  3817500, 10853800,  4145100,
        6444100,  8473800, 10427100,  7685600, 10917200,  8949500,
        4467900,  4486100,  7301800,  2681200,  7873900,  3494800,
        3331100,  9322500,  4393100, 10047200,  5770400,  4413200,
       10924800,  9710400,  5608000, 11638700,  2671700,  7114900,
       11127500,  7653500,  4810500, 10622000,  4178800,  8622000,
        5658900,  4485800,  7643500,  2534900,  5307400,  5023800,
       16697100,  4827400,  8358000,  2747900,  3360600,  5337000,
        7328300,  3482300,  4148700,  2335700,  4444400,  6612600,
       12659000,  4725400, 21084800,  6932800,  4746100,  3930100,
        4485400,  6209300, 16792900,  3833500,  7605200,  7036100,
        9925200, 16878700,  4624800,  3129400,  1882800, 20156400,
        9074400,  4830200,  8692500,  4252900,  2096600,  2722500,
        3361200, 13404600, 13591100,  5772800,  5424500,  7561400,
        2309800,  5158700,  2868300,  3251100, 15359200,  9062900,
        9529900,  4291000, 10660500,  5019000,  6135800,  5608900,
        9099500, 23429900,  3547500,  4388500,  4022400,  6526900,
        6657300,  3955700,  6908900,  7881100,  9366500,  2405800,
        2374000,  2866200,  3726400,  9915300,  7948800, 20047500,
        5986700,  4634100,  2699500,  6276400,  5372800,  8930700,
       12466700, 24991400,  1625100,  2061500,  2254500,  2393200,
        3143200,  3953600,  1906600,  3271100,  4229000, 13472500,
        3041400,  4589700, 20369200,  6531700,  8379300,  5346200,
        4820300,  3669700, 22960000,  8638700,  9534300, 15431500,
        5090000, 16128700,  5387300,  2773400,  7462900, 22897400,
        7307700,  7405500,  4361000,  4658900,  5630400, 18260700,
       11966600,  4772900, 11679500,  7988700,  6529600,  3944300,
       12851500,  5748400, 12917200, 15719000,  9105800, 10480800,
       12071600, 10419700,  7746200,  3512100,  6272100, 11336400,
        8670300,  7396600,  2805400,  4621500,  2954200,  8535500,
        8616600, 13478600,  7839000, 18986100,  4717100,  4545600,
        7487000, 10992800, 16494600,  6936400,  5197600,  2423500,
        7541400,  7852400,  6797000,  2276900,  4509000, 19616000,
        5782800,  2579400,  3067500,  5164600, 11257600,  2334900,
       19039300,  8063300,  6921700,  5621900,  3755600,  9371100,
        9853600,  5225700,  3771500, 18972900,  3381700,  6088800,
       10655200,  3238900, 16338200,  7954000, 14117400, 13050200,
        5990400,  5507900,  7790500,  3133900,  7773500, 15191200,
        6179100,  4328400,  5063700, 14500200,  1736000, 23177600,
       10847500,  4896400,  7355800, 16693800, 11961800, 12655800,
        5840500,  7349900,  3269000,  4349500,  4627300,  7807900,
        2556700, 10429400,  6351500, 16853600, 18389900,  2517900,
        2872200, 13523000,  5655100,  6541900, 10101200,  5299100,
        6259500,  3210900,  3330000, 13508900,  6717700,  8118700,
        3533200, 17097200,  3885800,  6888900,  2320200, 12046600,
        5034800,  4026400,  5245100,  7712300,  7329200,  3457000,
        6286300, 21605600,  8966800,  1595500, 13588100,  7682000,
       12599200,  4714500,  6993700, 11906800,  5368900,  7074400,
        6441500, 10559100,  2032800,  2613700,  3438300, 11444800,
       11940300,  5685400,  3710000,  6898800,  2376200,  7199400,
       11581000,  6179900,  8968000,  4669100,  4865000,  5394700,
        3740300,  7333700, 13346900,  1919400,  6218800,  3736300,
        4781300,  6198100, 11152900,  3666200,  4592500,  4860800,
        3156200,  8306100,  4944600,  4705600, 10809100,  1832000,
       13092800,  5379300,  2151300,  4386900, 32610900, 16541400,
        5809300,  6529000, 11802400,  3198300,  2805800,  5164500,
       15096700,  2126200,  3470000,  3577700,  3104100,  8767200,
        5602500,  5277300,  3787400, 14870800,  4432400, 13561200,
        4718300,  4253400,  6974900,  3682800,  4826200,  9822300,
        3671700,  5948400,  3209100,  3172300,  5271400,  3193400,
        8312400,  4336300,  3550500,  2069600,  2482600, 13328300,
        4308200,  6277500,  6997900], dtype=int64)

In [36]:
X_train

array([['19-02-2021', 548.0, 548.98999, 538.809998, 540.219971,
        540.219971],
       ['24-12-2020', 515.119995, 519.349976, 512.210022, 513.969971,
        513.969971],
       ['16-09-2020', 499.98999, 504.660004, 483.309998, 483.859985,
        483.859985],
       ...,
       ['05-08-2020', 508.679993, 510.100006, 501.200012, 502.109985,
        502.109985],
       ['27-04-2020', 425.0, 429.0, 420.839996, 421.380005, 421.380005],
       ['22-10-2020', 494.690002, 495.140015, 482.0, 485.230011,
        485.230011]], dtype=object)

In [37]:
X_test

array([['13-04-2021', 557.0, 559.75, 550.299988, 553.72998, 553.72998],
       ['02-05-2019', 378.0, 383.5, 374.51001, 379.059998, 379.059998],
       ['07-06-2018', 368.540009, 368.700012, 357.799988, 361.399994,
        361.399994],
       ...,
       ['12-02-2018', 252.139999, 259.149994, 249.0, 257.950012,
        257.950012],
       ['20-11-2019', 301.01001, 308.25, 301.0, 305.160004, 305.160004],
       ['04-02-2022', 407.309998, 412.769989, 396.640015, 410.170013,
        410.170013]], dtype=object)

In [38]:
Y_test

array([ 2720300,  5398200,  8278000,  6248400, 12498600,  4896900,
       12595800,  3981700,  4096900,  8842300,  1367800,  5642900,
        6954100,  5589800,  1685700,  3028400,  5010900,  3139100,
       14085400,  8650300,  6290000, 10268600,  4134500,  8147200,
        5166600,  2412600,  5873100,  4974200, 15646200,  7194700,
        4356200,  7497300,  5263900,  5392300, 14877400,  3394900,
        9827800,  5878800,  4289300,  2862500,  3629200,  4766600,
       14919700,  9843200,  4353500, 19330100, 12232200,  5130300,
        6211900, 10446300,  5863200,  4825200,  3008900,  3944800,
       17427300,  9713900,  3113400, 13449400,  8364600,  5657100,
        9629200,  3981800,  3505500,  9905200, 31287100,  3467800,
        5052700,  6340100, 11207400, 10049100,  2415600,  7817400,
       11023000,  6794400, 13952300,  2791700,  4008000,  9322400,
        2504700,  9222600, 12315800,  2910300,  4475100,  8437100,
        8110700,  4709300,  5280300,  4615500,  6227900,  2390500,
       24499000,  4942200,  5629900,  5460500,  4446400,  2418100,
       13639500,  5583500, 11215000,  4844000,  2775100,  2109500,
        5349100,  3767600,  6804700,  5173900,  5641900,  6670600,
        5358200,  9705900,  5633400, 10499600,  3253800,  4653800,
        4088100,  1876300,  3055000,  2705200,  3355900, 22490900,
        5851500,  3503100,  3627200,  3077800,  5158000,  5454900,
        8661300,  6930400,  5969000,  3125200,  5697100,  7684000,
        2431900, 15083300,  5230000,  4839100,  5439200,  3732200,
        3018200,  5727700, 17718000, 11456700, 10759700, 10616000,
        2712500,  9252500,  5934500, 18200300,  3075700,  2984500,
        4401000,  5937800,  4431100, 13893200, 11988300,  9171100,
        5991900,  5070000,  2624100,  3556900, 18871200,  4995900,
       22542300,  3541500,  3442100,  5711800,  4316000,  6186000,
        5137300,  4328100,  2732800,  5353000,  5294100,  3322900,
        6461100,  6151300,  9046600,  5277400,  7943400, 21730000,
        2730600,  1995900,  9234500,  6572000,  7133500, 10981000,
        5362400,  4311500,  2882500,  5882600,  8444500,  7104500,
        3682400,  9257300,  4592700,  8658900, 32637500,  4094500,
       18620100,  8534900,  5111800,  7782400], dtype=int64)